body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  /* background-color: #FFFAFA !important; */
}

::selection {
  color: #f2f2f2;
  background: #3d5a80;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px #e0fbfc; 
} 

::-webkit-scrollbar-thumb {
  background: #3d5a80;
}

::-webkit-scrollbar-thumb:hover {
  background: #ee6c4d;
  width: 15px;
}
 
.logo{
  width:15rem;
  height: 4rem;
  display: inline;
}

.footer-logo{
  width:20rem;
  height: 6rem;
  display: inline;
}

.landingpage{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: 0.5s;
  }
  
  .video-bg{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    /* mask-image: linear-gradient(to top, rgba(253, 251, 251, 0.8), rgb(255, 249, 249)); */
  }
  
  .bg-overlay{
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    position:absolute;
    top:0;
    z-index: 0;
  }
  
  .home-text{
    width: 80%;
    /* height: 60%; */
    text-align: center;
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    z-index: 2;
    height: 10em; 
    position: relative;
    margin-top: 6%;
    margin-left: 5%;
  }
  
  @media screen and (max-width:600px) {
    .home-text{ 
      height: 1em;
      margin-top: 15% !important;
    }
    .video-bg{
      height: 100vh;
    }
    .landingpage{
      height: 100vh;
      width: 102% !important;
    }
    .homeBtn{
      margin-bottom: 1% !important;
      width: 35vh !important;
      font-size: 1em !important;
    }
    .footer-logo{
      width:30vh;
      height: 8vh;
      display: inline;
    }
  }
  @media screen and (max-width:768px) and (min-width:601px){
    .home-text{
      margin-bottom: 25%;
    }
  }
  
  
  .home-text > * {
    animation: 18s autoplay infinite linear;
    position: absolute; top: 0; left: 0; opacity: 0.0
  }
  
  @keyframes autoplay {
    0% {opacity: 0.0;}
    4% {opacity: 1.0}
    33.33% {opacity: 1.0}
    37.33% {opacity: 0.0}
    100% {opacity: 0.0}
  }
  
  .home-text>*:nth-child(1) {animation-delay: 0s}
  .home-text>*:nth-child(2) {animation-delay: 6s}
  .home-text>*:nth-child(3) {animation-delay: 12s}
  
  .Carouselh1{
    /* margin-top: -50vh !important; */
    font-size: 6em;
    color: #e0fbfc;
    text-align: left !important;
  }
  
  .Carouselh1{
    animation: fade;
    animation-duration: 2s;
  }
  
  @keyframes fade {
    0%{
      opacity: 0;
      margin-left: 5em;
    }
    100%{
      opacity: 1;
    }
  }
  
  .home_div{
    background: black;
    overflow: hidden !important; 
  }
  
  .home_img{
    object-fit: cover;
     opacity: 0.4;
  }
  
  .Carouselp{
    font-size: 1.5em;
    opacity: 1;
    color: #e0fbfc;
    text-align: left !important;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    p.Carouselp {
      font-size: 1em;
      text-align: center;
      justify-content: center;
   }
  }
  
  @media screen and (max-width: 600px) {
    .Carouselh1 {
      font-size: 2em;
      text-align: center;
      justify-content: center;
   }
  }

  @media screen and (max-width:768px) and (min-width:601px) {
  .Carouselh1{
    font-size: 5em !important;
    text-align: center;
    justify-content: center;
  }
  .Carouselp{
    font-size: 1em !important;
  }
}
  
  .Carouselspan{
    text-align: center;
    color: #e0fbfc;
    font-size: 1.5rem;
    margin-top: 8% !important;
  }
  
   .homeBtn{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    border: #e0fbfc 1.5px solid;
    text-decoration: none;
    width: 300px;
    padding: 25px;
    text-align: center;
    color: #e0fbfc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    margin-bottom: 3%;
    margin-top: 5%;
  }
  
  .homeBtn:hover, .homeBtn:focus, .homeBtn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: #ee6c4d !important;
    background-color: #e0fbfc;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  @media screen and (max-width: 600px) {
    .homeBtn{
      width: 320px;
    }
  }

  .FooterContainer{
    bottom: 0;
  }

.footer {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: flex-start;
  /* min-height: 100vh; */
  font-size: 18px;
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #293241;
  border-top: 1px solid #e0fbfc;
  margin-top: 5%;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.footer address {
  font-style: normal;
  color: #e0fbfc;
  text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500 !important;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer Link {
  line-height: 2em;
}


.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #e0fbfc;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #e0fbfc;
  margin-left: 30%;
  text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500 !important;
}
  
.legal a{
  color: #e0fbfc !important;
}

.legal a:hover{
  color: #15B39D !important;
  text-decoration: underline 1px solid #15B39D; 
}

@media screen and (max-width: 600px){
  .legal{
    margin-left: -2% !important;
    font-size: 0.6rem !important;
  }
  .footer address{
    font-size: 0.65em !important;
  }
}

@media screen and (max-width:768px) and (min-width:601px) {
  .legal{
    font-size: 0.5rem !important;
  }
  .footer address{
    font-size: 0.65em !important;
  }
  .navbar_link{
    font-size: 0.6em !important;
  }
}

.heart {
  color: #2f2f2f;
}
@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}

.HCInro{
  display: flex;
  max-width: 70%;
  margin-left: 16%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 2%;
  font-size: 1.8vw;
  font-weight: 500;
  color: #293241;
}

.HCInro span{
  color: #ee6c4d;
  font-size: 2vw;
  font-weight: bolder;
}

.HCTable{
  display: flex;
  flex-direction: row;
  width: 85%;
  margin-top: 3%;
  text-align: justify;
  align-items: center;
  margin-left: 7%;
}

.HCTable div{
  margin-left: 1.5%;
  font-size: 1.3vw;
}

.HCTable h4{
  color: #3d5a80;
  font-weight: bold;
  text-align: center;
}

.HCTable p{
  color: #293241;
}

@media screen and (max-width: 600px) {
  .HCInro{
    font-size: 2vh !important;
    text-align: justify;
  }
  
  .HCInro span{
    font-size: 2vh !important;
  }

  .HCTable{
    display: flex;
    flex-direction: column;
  }

  .HCTable h4{
    font-size: 2vh !important;
  }
  
  .HCTable p{
    font-size: 2vh !important;
  }
}

@media screen and (max-width:768px) and (min-width:601px) {
  .HCTable h4{
    font-size: 2vh !important;
  }  
}


.fg-text{
  width: 60%;
  /* height: 60%; */
  text-align: center;
  align-items: center;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  z-index: 2;
  height: 10em; 
  position: relative;
  margin-top: 6%;
  margin-left: 5%;
}


.fg-text-h1{
  /* margin-top: -50vh !important; */
  font-size: 3.5em;
  color: #e0fbfc;
  text-align: left !important;
  animation: fade-fg;
  animation-duration: 2s;
  text-align: center !important;
}

@keyframes fade-fg {
  0%{
    opacity: 0;
    margin-left: 5em;
  }
  100%{
    opacity: 1;
  }
}

.fg-text-p{
  font-size: 1.5em;
  opacity: 1;
  color: #e0fbfc;
  text-align: center !important;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  p.fg-text-p {
    font-size: 1em;
    text-align: center;
    justify-content: center;
 }

  .fg-text-h1 {
    font-size: 2em;
    text-align: center;
    justify-content: center;
  }
}

@media screen and (max-width:768px) and (min-width:601px) {
  .fg-text-h1{
    font-size: 2.5em !important;
  }
  .fg-text-p{
    font-size: 1em !important;
  }
}

.ErrorLink{
  font-family: Arial, Helvetica, sans-serif;
  color: #cc6360;
  text-align: center;
  margin-top: 31.3%;
  font-size: 1.3vw;
  font-weight: bolder;
  text-decoration: none;
}

.ErrorLink:hover{
  color: #305c8a !important;
  font-size: 1.5vw;
  text-decoration: underline;
  text-decoration-color: #305c8a;
}

@media screen and (max-width: 600px) {
  .ErrorLink{
    color: #cc6360;
    font-size: 2vh !important;
    margin-top: 64.3%
  }
}

@media screen and (max-width:768px) and (min-width:601px) {
  .PageHeading{
    margin-left: 3% !important;
  } 
}


.PageHeading{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ee6c4d;
  /* margin: 2%; */
  margin-bottom: 1%;
}

.jt {
  position: relative;
  font-size: 3.5vw;
  font-family: 'Staatliches', sans-serif;
  text-transform: uppercase;
  font-display: swap;
  /* text-shadow: 0 0 10px #293241; */
}

.jt__row {
  display: block;
}
.jt__row:nth-child(1) {
  clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
}
.jt__row:nth-child(2) {
  clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
}
.jt__row:nth-child(3) {
  clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
}
.jt__row:nth-child(4) {
  clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
}

.jt__row.jt__row--sibling {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  witdh:800px;
}

.jt__text {
  display: block;
  transform-origin: bottom left;
  animation: moveIn 2s 0s cubic-bezier(.36,0,.06,1) alternate infinite ;
}
.jt__row:nth-child(1) .jt__text {
  transform: translateY(-0.1em);
}
.jt__row:nth-child(2) .jt__text {
  transform: translateY(-0.3em) scaleY(1.1);
}
.jt__row:nth-child(3) .jt__text {
  transform: translateY(-0.5em) scaleY(1.2) ;
}
.jt__row:nth-child(4) .jt__text {
  transform: translateY(-0.7em) scaleY(1.3) ;
}
.jt__row:nth-child(5) .jt__text {
  transform: translateY(-0.9em) scaleY(1.4) ;
}
.jt__row:nth-child(6) .jt__text {
  transform: translateY(-1.1em) scaleY(1.5) ;
}

@keyframes moveIn {
  50%, 100% { 
    transform: translateY(0em)
  }
  0%   { 
  opacity: 0; 
  filter: blur(10px);
  
  }
  100% { 
  opacity: 1; 
  filter: blur(0px);
  }
}

.debug .jt__row:nth-child(even) {
  color: black;
  background: white;
}

.debug .jt__row:nth-child(odd) {
  color: white;
  background: black;
}

.DiscoveryContainer{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  width: 80%;
}

.DiscoveryHeading span{
  color: #3d5a80;
  font-weight: 600;
  font-size: 2vw;
}

.DiscoveryHeading h3{
  color: #293241;
  font-weight: 600;
  font-size: 1.8vw;
}

.DiscoverUL1{
  color: #293241;
  font-size: 1.2vw;
  font-weight: 475;
}

.DiscoveryContainer p{
  color: #293241;
  font-size: 1.2vw;
}

.DiscoverUL2{
  color: #e0fbfc;
  font-size: 1.5vw;
}

.DiscoveryParallax{
  margin-top: 2%;
  margin-bottom: 2%;
}

.DiscoverUL2 ul{
  list-style-type: decimal;
  text-align: left !important;
}

@media screen and (max-width: 600px) {
  .DiscoveryHeading span{
    font-size: 2vh !important;
  }

  .DiscoveryHeading h3{
    font-size: 2vh !important;  
  }

  .DiscoverUL1{
    font-size: 2vh !important;
    text-align: justify;
  }

  .DiscoverUL1 ul{
    text-align: left !important;
    font-size: 2vh !important;
  }

  .DiscoveryContainer p{
    font-size: 2vh !important;
    text-align: justify;
  }
  .DiscoverUL2 ul{
    font-size: 1.7vh !important;
    text-align: left !important;
    color: #e0fbfc;
    font-weight: 500;
  }
  .ParallaxContainer3{
    height: 1000px !important;
  }
  .ParallaxContainer4{
    height: 110vh !important;
  }
  .ParallaxContainer{
    height: 80vh !important;
  }
}

.servicesContainer{
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  width: 70%;
  color: #293241;
}

.servicesContainer h3{
  text-align: center;
  font-size: 1.8vw;
  margin-bottom: 1%;
}

.servicesContainer span{
  font-size: 1.8vw;
  color: #ee6c4d;
}

.servicesContainer ul{
  color: #293241;
  font-size: 1.2vw;
}

.servicesTableContainer{
  display: flex;
  flex-direction: row;
  margin-left: 12%;
  width: 80%;
  color: #293241;
  text-align: justify;
  margin-top: 1%;
}

.servicesTable{
  flex: 1;
  margin-top: 1%;
  margin-left: 2%;
}

.servicesIcon{
  color: #ee6c4d;
  margin-left: 45%;
  width: 60px;
  height: 60px;
  margin-bottom: 1%;
}

.servicesIcon:hover{
  color: #3d5a80;
}

.servicesTable h3{
  text-align: center;
  color: #3d5a80;
  font-size: 1.5vw;
  font-weight: bold;
}

.servicesTable p{
  color: #293241;
  font-size: 1.2vw;
}

.servicesTable ul{
  list-style-type: none;
  text-align: center;
  font-size: 1.2vw;
}

@media screen and (max-width: 600px) {
  .servicesContainer h3{
    font-size: 2vh !important;
  }

  .servicesContainer span{
    font-size: 2vh !important;
  }

  .servicesContainer ul{
    font-size: 2vh !important;
    text-align: justify;
  }

  .servicesTableContainer{
    display: flex;
    flex-direction: column;
  }

  .servicesTable h3{
    text-align: center;
    font-size: 2vh !important;
    margin: 3%;
  }

  .servicesIcon{
    width: 40px;
    height: 40px;
  }

  .servicesTable p{
    font-size: 2vh !important;
    text-align: justify;
  }

  .servicesTable ul{
    font-size: 2vh !important;
    text-align: center;
  }
}

@media screen and (max-width:768px) and (min-width:601px) {
  .servicesIcon{
    width: 35px;
    height: 30px;
  }
}

.InfraTableContainer h2{
  text-align: center;
  color: #3d5a80;
  font-weight: bolder;
  font-size: 2vw;
}

.InfaTable{
  width: 80% !important;
  margin-top: 2% !important;
  margin-left: 10% !important;
  text-align: center;
  color: #293241;
}

.InfaTable thead{
  position: sticky;
  top: 75px;
  background: white;
}

.InfaTable tr{
  font-size: 1.1vw;
  transition: all .2s ease-in;
}

.InfaTable td{
  text-align: left;
}

.InfaTable tr:hover{
  transform: scale(1.0001);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.InfraTableContainer thead{
  color: #3d5a80;
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .InfraTable Table{
    width: 300px !important;
    /* margin-left: 80% !important; */
  }
  .InfaTable tr{
    font-size: 1vh !important;
  }
  .InfraTableContainer h2{
    font-size: 2.2vh !important;
  }
}

.PageIcon{
  width: 60px;
  height: 55px;
  color: #ee6c4d;
  margin-left: 48%;
  margin-top: 1%;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .PageIcon{
    width: 50px;
    height: 50px;
  }
}

.CareersText{
  width: 65%;
  color: #293241;
  text-align: center;
  margin-left: 18%;
  font-size: 1.2vw;
  font-weight: 450;
}

.CareersText span{
  color: #3d5a80;
  font-size: 1.5vw;
  font-weight: 500;
}

.CareersText a{
  color: #3d5a80;
  font-size: 1.5vw;
  font-weight: 500;
}

.CareersDetails h2{
  color: #3d5a80;
  text-align: center;
  text-decoration: underline;
}

.CareersDetailsContainer{
  border: 1px solid #98c1d9;
  width: 70%;
  margin-left: 15%;
  margin-top: 2%;
}

.CareersInfo{
  color: #293241;
  transition: all .2s ease-in;
}

.CareersInfo:hover{
  transform: scale(1.001);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.CareersInfo h2{
  display: flex;
  font-weight: bold;
  color: #f2f2f2;
  background-color: #3d5a80;
}

.CareersInfo div {
  margin-left: 3%;
}

.CareersInfo h4{
  color: #3d5a80;
  font-weight: bold;
}

.CareersInfo h5{
  color: #3d5a80;
  font-weight: bold;
}

.CareersInfo ul{
  font-size: 1.2vw;
}

.CareersInfo span{
  font-weight: bold;
  color: #293241;
}

@media screen and (max-width: 600px) {
  .CareersText{
    font-size: 2vh !important;
    text-align: justify;
  }
  .CareersText span{
    font-size: 2vh !important;
  }
  .CareersText a{
    font-size: 2vh !important;
  }
  .CareersText{
    font-size: 2vh !important;
  }
  .CareersDetails{
    width: 100% !important;
    margin-left: 0% !important;
  }
  .CareersDetails h2{
    font-size: 2vh !important;
  }
  .CareersInfo ul{
    font-size: 2vh !important;
    text-align: left !important;
  }
  .CareersInfo h4{
    font-size: 2vh !important;
  }
  .CareersInfo span{
    font-size: 2vh !important;
  }
}

.LeadershipContainer{
  display: flex;
  flex-direction: row;
  margin-left: 19%;
  width: 70%;
}

.LeaderImg{
  height: 250px;
  width: 300px;
}

.LeaderContent{
  margin-left: 3%;
}

.LeaderContent h1 {
  color: #3d5a80;
  font-size: 1.2vw;
  font-weight: bold;
}

.LeaderContent h2 {
  color: #3d5a80;
  font-size: 1.2vw;
}

.LeaderContent p{
  font-size: 1.2vw;
}

@media screen and (max-width: 600px) {
  .LeadershipContainer{
    flex-direction: column !important;
  }
  .LeaderImg{
    height: 200px;
    width: 200px;
    margin-left: 10% !important;
    margin-bottom: 3% !important;
  }
  .LeaderContent h1{
    font-size: 2vh !important;
  }
  .LeaderContent h2{
    font-size: 2vh !important;
  }
  .LeaderContent p{
    font-size: 2vh !important;
    text-align: justify;
  }
}

@media screen and (max-width:768px) and (min-width:601px) {
  .LeaderImg{
    height: 120px;
    width: 250px;
  }
}

.MediaContainer1{
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

.MediaContainer2{
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  margin-left: 10%;
  margin-top: 2%;
}

.MediaImg{
  width: 400px;
  height: 130px;
  margin-top: 6%;
}

.MediaContent{
  margin-left: 2%;
}

.MediaContent a{
  text-decoration: none !important;
  color: #3d5a80;
}

.MediaContent h2{
  color: #3d5a80;
  font-weight: bold;
}

.MediaContent h5{
  color: #3d5a80;
}

.MediaContent p{
  font-size: 1.2vw;
}

@media screen and (max-width: 600px) {
  .MediaContainer1{
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .MediaContainer2{
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
  }
  .MediaImg{
    width: 300px;
    height: 100px;
    margin-bottom: 2%;
  }
  .MediaContent h2{
    font-size: 2.2vh !important;
  }
  .MediaContent h5{
    font-size: 2.1vh !important;
  }
  .MediaContent p{
    font-size: 2vh !important;
    text-align: justify;
  }
}

@media screen and (max-width:768px) and (min-width:601px) {
  .MediaContent h2{
    font-size: 2.3vh !important;
  }
  .MediaContent h5{
    font-size: 2.1vh !important;
  }
  .MediaContent p{
    font-size: 2vh !important;
    text-align: justify;
  }
  .MediaImg{
    width: 250px;
    height: 80px;
  }
}

.AboutUsText{
  width: 40%;
  text-align: center;
  margin-left: 30%;
  font-size: 1.2vw;
  font-weight: 500;
  color: #293241;
}

.AboutUsText span{
  color: #3d5a80;
  font-weight: 600;
  font-size: 1.5vw;
}

.AboutUsTable{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 7%;
}

.AboutUsTableContent{
  flex: 1;
  display: flex;
  flex-direction: row;
  font-size: 1.2vw;
}

.AboutUsTableContent div{
  margin-left: 15%;
}

.AboutUsTableContent h2{
  color: #3d5a80;
}

.AboutUsTableContent ul{
  list-style-type: none;
  margin-left: -10%;
}

.AboutUsAcc{
  width: 50%;
  margin-left: 25%;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size: 1.2vw !important;
  color: #3d5a80 !important;
  text-align: left;
  background-color: none !important;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}

.accordion-button:hover {
  color: #293241;
  background-color: #eee;
}

.AuAccBody h3{
  color: #ee6c4d;
  font-size: 1.3vw;
}

.AuAccBody h4{
  color: #3d5a80;
  font-size: 1.1vw;
}

.AuAccBody p{
  color: #293241;
  font-size: 1.1vw;
}

.AuAccBody ul{
  color: #293241;
  font-size: 1.1vw;
  list-style-type: none;
}

.AuAccBody div{
  display: flex;
  flex-direction: row;
}

.AboutUsDiv{
  display: flex;
  flex-direction: column !important;
  margin-left: 2%;
}

.AuAccBody img{
  max-width: 100%;
  min-width: 40%;
  height: 40vh;
}


@media screen and (max-width: 600px) {
  .AboutUsAcc{
    width: 90% !important;
    height: 5% !important;
    margin-left: 0% !important;
  }
  .accordion-button {
    font-size: 2vh !important;
  }

  .AboutUsText span{
    font-size: 2vh !important;
    width: 80%;
  }
  .AboutUsText p{
    font-size: 2vh !important;
  }
  .AboutUsTable{
    display: flex;
    flex-direction: column;
  }
  .AboutUsTableContent h2{
    font-size: 2.3vh !important;
  }
  .AboutUsTableContent p{
    font-size: 2vh !important;
    text-align: justify;
  }
  .AboutUsTableContent ul{
    font-size: 2vh !important;
    justify-content: left !important;
  }

  .AuAccBody h3{
    color: #ee6c4d;
    font-size: 2vh !important;
  }
  .AuAccBody h4{
    color: #3d5a80;
    font-size: 2vh !important;
  }
  .AuAccBody p{
    color: #293241;
    font-size: 2vh !important;
    text-align: justify;
  }
  .AuAccBody ul{
    color: #293241;
    font-size: 2vh !important;
    list-style-type: none;
    text-align: justify;
  }
  .AuAccBody div{
    display: flex;
    flex-direction: column;
  }
  .AboutUsDiv{
    display: flex;
    flex-direction: column !important;
    margin-left: 2%;
    text-align: justify;
  }
  .AuAccBody img{
    max-width: 100%;
    height: 30vh;
  }
}

/* @media screen and (max-width:768px) and (min-width:601px) {
  body{
    font-size: 2rem !important;
  }
} */

@media screen and (max-width:768px) and (min-width:601px) {
  .AboutUsTableContent h2{
    font-size: 2em;
  }
}

.Contact{
  display: flex;
  flex-direction: row;
}

.ContactContainer{
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 700px;
  padding: 28px;
  margin-left: 33%;
  border-radius: 15px;
}

.ContactContent{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-box{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 15px;
}

.input-box:nth-child(2n){
  justify-content: left;
}

.input-box label{
  width: 95%;
  color: #0E6E59;
  font-weight: bold;
  margin: 7px 0;
}


.input-box input{
  height: 40px;
  width: 95%;
  padding: 0 10px;
  /* border-radius: 5px; */
  border: 1px solid #ccc;
  outline: none;
}

.input-box textarea{
  height: 100px;
  width: 95%;
  padding: 5px 10px;
  /* border-radius: 5px; */
  border: 1px solid #ccc;
  outline: none;
}

.input-box input:is(:focus, :valid){
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  border-color: #3d5a80;
}

.input-box textarea:is(:focus, :valid){
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  border-color: #3d5a80;
}

.button-container{
  margin: 15px 0;
  text-align: center;
  align-items: center;
  margin-left: 30%;
}

.button-container input{
  width: 50%;
  padding: 10px;
  display: block;
  font-size: 20px;
  color: #3d5a80;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right, #98c1d9, #e0fbfc);
}

.button-container input:hover{
  background-image: linear-gradient(to right, #e0fbfc, #98c1d9);
}

.CUForm{
  width: 24vw !important;
  height: 2.5vw !important;
  font-size: 1vw !important;
  margin-left: 11% !important;
  /* background-color:#f2f2f2 !important; */
  background-image: linear-gradient(to right, #293241 0%, #3d5a80 51%, #98c1d9 100%) !important;
  color: white !important;
  font-weight: bold !important;
  transition: 0.5s !important;
  background-size: 200% auto !important;
  border: #293241 1px solid !important;
}

@media screen and (max-width:600px) {
  .CUForm{
    width: 30vh !important;
    height: 5vh !important;
    font-size: 1em !important;
  }
}

@media screen and (max-width:768px) and (min-width:601px) {
  .CUForm{
    width: 25vh !important;
    height: 5vh !important;
    font-size: 1em !important;
    margin-bottom:25% !important;
  }
}

@media screen and (min-width: 2560px) {
  .CUForm{
    width: 30vh !important;
    height: 4vh !important;
    margin-left: 9% !important;
  }
}

.CUForm:hover{
  background-position: right center !important ;
}

.ContactAddress{
  flex: 1;
  margin-top: 1.5%;
}

.ContactAddress div{
  display: flex;
  flex-direction: column;
}

.ContactAddress h4{
  color: #305c8a;
  font-size: 1.5vw;
  font-weight: 650;
}

.ContactAddress ul{
  list-style-type: none;
  font-size: 1.2vw;
  font-weight: 600;
  color: #293241;
}

.ContactAddress span{
  font-size: 1.3vw;
  font-weight: 625;
  color: #293241;
  color: #3d5a80;
}

@media screen and (max-width: 600px) {
  .Contact{
    display: flex;
    flex-direction: column;
  }
  .ContactContainer{
    min-width: 100% !important;
    margin-left: -1% !important;
  }
  .button-container{
    width: 80% !important;
    font-size: 2vh !important;
  }
  .ContactAddress h4, ul, span{
    font-size: 2.2vh !important;
    text-align: center;
  }
}

.PatentsTableContainer{
  text-align: center;
  margin-top: 1%;
}

.PatentsTableContainer h3{
  color: #305c8a;
  font-size: 1.5vw;
  text-align: center;
}

.PatentsTableContainer Table{
  border-collapse: collapse;
  width: 90%;
  margin-left: 3%;
  margin-top: 2%;
  height: 20px;
  border: 1px solid #bdc3c7;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.PatentsTableContainer tr{
  transition: all .2s ease-in;
  cursor: pointer;
}

.PatentsTableContainer th{
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #e0fbfc;
  border-right: 1px solid #e0fbfc;
}

.PatentsTableContainer td{
  padding: 12px;
  /* text-align: justify; */
  /* align-items: center; */
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}

#header {
  background-color: #3d5a80;
  color: #e0fbfc;
}

.PatentsTableContainer tr:hover {
  background-color: #ffffff;
  border-left: #e0fbfc;
  transform: scale(1.01);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  .PatentsTableContainer Table {
      width: 90%;
  }
}

.PatentsTableContainer img{
  width: 400px;
  text-align: center !important;
}

.PatentsTableContainer ul{
  list-style-type: none;
  text-align: left;
}

.wipoNo{
  font-weight: 600;
}

.PatentTableImg{
  width: 100px !important;
}

.auto-index{
  counter-reset: Serial;
}

.auto-index td:first-child:before{
  counter-increment: Serial;
  content: counter(Serial);
}

.auto-index td{
  /* font-weight: 500; */
  font-size: 1.1vw;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .PatentsTableContainer h3{
    font-size: 2.3vh !important;
  }
  .auto-index td{
    font-size: 1.2vh !important;
  }
}

.Terms{
  position: relative;
  text-align: center;
}

.Terms img {
  width: 100%;
  height: 600px;
}

.Terms h1{
  position: absolute;
  top: 50%;
  left: 50%;
  color: #305c8a;
  font-size: 2vw;
  /* text-decoration: underline 3px solid #305c8a; */
  transform: translate(-50%, -50%);
}

.TermsContent{
  width: 60%;
  margin-left: 20%;
  margin-top: 2%;
  font-size: 1.05vw;
}

.TermsContent h2{
  font-size: 1.3vw !important;
  color: #305c8a;
}

.TermsContent p{
  margin: 1%;
}

.TermsContent span{
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .Terms img{
    height: 300px;
  }
  .Terms h1{
    font-size: 2.3vh !important;
  }
  .TermsContent{
    width: 80% !important;
    font-size: 2vh !important;
    text-align: justify;
    margin-left: 9% !important;
  }
  .TermsContent h2{
    font-size: 2.1vh !important;
  }
  .TermsContent ul{
    text-align: left !important;
    font-size: 2vh !important;
  }
}

.top-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  width: 4rem;
  color: #305c8a;
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  z-index: 999;
}

.top-btn:hover{
  cursor: pointer;
  font-size: 2.3rem;
  color: #ee6c4d;
}

@media screen and (max-width: 600px) {
  .top-btn{
    right: 0.2em;
    width: 2rem;
  }
}

.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 45vh;
  /* border-radius: 10px; */
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
  border-radius: 5px;
}

.box > img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: .5s;
  border-radius: 5px;
}

.box:hover { flex: 1 1 10%; }

.box:hover > img {
  width: 100%;
  height: 100%;
}

.GalleryContent h2{
  font-size: 2.5vw;
  text-align: center;
  margin-bottom: 2%;
}

.GalleryContent span{
  font-size: 2.5vw;
  color: #305c8a;
}

.VideoContainer{
  text-align: center;
  margin-top: 2%;
}

.VideoContainer h2{
  color: #305c8a;
}

.VideoContainer h2:hover{
  color:  #ee6c4d;
}

.WebGallery{
  -moz-column-count: 5;
  -moz-column-width: 20%;
  column-count: 5;
  column-width: 20%;
  padding: 0 12px;
} 

.WebGallery .pics{
  -moz-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px; 
} 

.pics img{
  border-radius: 5px !important;
}

.WebGallery .pics:hover{
   filter: opacity(0.8);
}

@media (max-width: 991px){
  .WebGallery{
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 480px){
  .WebGallery{
    -moz-column-count: 1;
    -moz-column-width: 33%;
    column-count: 1;
    column-width: 33%;
  }
}


.model{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0); 
  overflow: hidden;
  z-index: 999;
}


.model.open{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  box-shadow: inset 0 0 0 1000px rgba(152, 193, 217, 0.3);
}

.model img{
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}

.CloseLabIcon{
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  /* padding: 5px; */
  color: #ee6c4d;
  cursor: pointer;
}

.ParallaxContainer{
  height: 500px;
}

.ParallaxContainer1{
  height: 500px;
}

.ParallaxContainer3{
  height: 700px;
}

.ParallaxContainer4{
  height: 600px;
}


.ParallaxDiv{
  left: 50%;
  top: 50%;
  position: absolute;
  padding: 20px;
  transform: translate(-50%, -50%);
}

.ParallaxDiv h2{
  font-size: 2.5vw;
  color: #ee6c4d;
  font-weight: 550;
  display: inline;
}

.Parallaxh2{
  font-size: 2.5vw;
  cursor: pointer;
  color: #ee6c4d;
  font-weight: 350;
  text-align: center;
  margin-top: 2%;
  transition: font-weight .2s ease-in-out;
}
.Parallaxh2:hover{
  font-weight: 700;
}

.ParallaxDiv p{
  font-size: 1.5vw;
  margin-top: 3%;
  color: #3d5a80;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .ParallaxDiv h2{
    font-size: 2.5vh !important;
  }
  .ParallaxDiv p{
    font-size: 2.2vh !important;
    text-align: justify;
  }
  .Parallaxlink{
    font-size: 2.4vh !important;
  }
  .Parallaxh2{
    font-size: 2.5vh !important;
  }
}

.Parallaxlink{
  padding: 16px 20px;
  font-size: 1.2vw;
  color: #e0fbfc;
  font-weight: 400;
  border: none !important;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.Parallaxlink:hover{
  background: #e0fbfc;
  text-decoration: underline 2px solid #ee6c4d;
    color: #050801;
    box-shadow: 0 0 5px #e0fbfc,
                0 0 25px #e0fbfc,
                0 0 50px #e0fbfc,
                0 0 200px #e0fbfc;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

.TechContainer{
  width: 80%;
  max-width: 80%;
  margin-left: 10%;
  color: #293241;
}

.TechContainer p{
  font-size: 1.2vw;
}

.TechContainer h2{
  text-align: center;
  font-size: 2.3vw;
  letter-spacing: 1px;
  color: #305c8a;
}

.TechContainer ul{
  position: relative;
}

.TechContainer ul li{
  position: relative;
  left: 0;
  color: #293241;
  list-style: none;
  margin: 4px 0;
  border-left: 5px solid #ee6c4d;
  transition: 0.5s;
  cursor: pointer;
}

.TechContainer ul li::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #305c8a;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}

.TechContainer ul li:hover::before{
  transform: scaleX(1);
}

.TechContainer ul li:hover{
  left: 10px;
}

.TechContainer ul li span{
  position: relative;
  padding: 8px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}

.TechContainer ul li:hover span{
  color: #e0fbfc;
}

@media screen and (max-width: 600px) {
  .TechContainer p{
    font-size: 2vh !important;
    text-align: justify;
  }
  .TechContainer ul{
    text-align: left !important;
  }
  .TechContainer h2{
    font-size: 2.5vh;
  }
}

@media screen and (max-width:768px) and (min-width:601px){
  .TechContainer p{
    font-size: 2vh !important;
  }
  .TechContainer ul{
    text-align: left !important;
  }
  .TechContainer h2{
    font-size: 2.5vh;
  }
}

